@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
:root {
    --preto: #000;
    --cinza1: #5B4B4B;
    --cinza2: #676767;
}

* {
    margin: 0;
    padding: 0;
    cursor: crosshair;
}

nav a {
    font-size: 14px;
    font-family: "Libre Baskerville";
    text-decoration: none;
    color: var(--preto);
}

.title h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 3% 0 0 0;
    width: 100%;
    font-size: 29px;
}

.title h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: var(--cinza1);
    width: 100%;
    font-size: 16px;
    font-weight: 400;
}

.miffy {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 75px;
    margin: 10% 35% 0 30%;
}

body .quote {
    text-align: left ;
    position: relative;
    top: -190px;
    color: var(--cinza2);
    font-family: 'Libre Baskerville';
    font-size: 14px;
    width: 130px;
    margin: 0 0 0 95px;
}

.gif {
    width: 100%;
    height: auto;
    display: block;
}

.homumado {
    width: 400px;
    height: 250px;
    position: relative;
    top: -520px;
    margin: 0 10% 0 64%;
    overflow: hidden;
}

.star-img {
    width: 100%;
    height: auto;
    display: block;
}

.star {
    width: 170px;
    height: 170px;
    position: relative;
    top: -300px;
    margin: 0 30% 0 82%;
    overflow: hidden;
}

.mini-punpun {
    width: 100%;
    height: auto;
    display: block;
}

.punpun {
    width: 248px;
    height: 248px;
    position: relative;
    top: -250px;
    margin: 0 0 0 7%;
    overflow: hidden;
}

.narrator-fc {
    width: 100%;
    height: auto;
    display: block;
}

.narrator {
    /* top: -100px; */
    bottom: -50px;
    margin: 0 45% 0 36%;
    width: 308px;
    height: 308px;
    position: relative; 
    overflow: hidden;
}

.binary-phrase {
    position: relative;
    /* top: -100px;     */
    color: var(--preto);
    text-align: center;
    font-family: "Courier New";
    font-size: 15px;
}